	body{
		padding: 0px;
		margin: 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
	*{
		padding: 0px;
		margin: 0px;
	}
	#top{
		width: auto;
		height: 160px;
	    color: #C0BAB6;
	    font-size: 23px;
	}
	#top-a{
		width: auto;
		height: 120px;
		background-color: #333333;	
	}
	#top-a-a{
		width: 1200px;
		height: 120px;
		margin: auto;
	}#top-a-a-a{
		width: 800px;
		height: 90px;
		float: left;
		padding-top: 30px;
	}
	#top-a-a-b{
		float: right;
		width: 400px;
		height: 70px;
		padding-top: 50px;
	}

	#top-a-a-b ul li{
		list-style: none;
		float: left;
		padding: 0px 30px;
	}

	#top-b{
		width: auto;
		height: 40px;
		background-color: black;
	}
	#top-b-a{
		width: 1200px;
		height: 40px;
		margin: auto;
		line-height: 40px;
	}
	#top-b-a>ul>li{
		list-style: none;
		float: left;
		padding-right: 30px;
		border-right: 1px solid #c0bab6;
		position: relative;
	}
	#top-b-a>ul>li>a{
		text-decoration: none;
	    color: #C0BAB6;
	}
	#top-b-a>ul>li>ul{
		display: none;
	}
	#top-b-a>ul>li:hover ul{
		display: block;
		position: absolute;
		margin: auto;
	}
	#top-b-a>ul>li>ul>li{
		list-style: none;
		background-color: black;
	    margin: 0px;
	    padding: 0px;
	}
	#top-b-a>ul>li>ul>li>a{
		text-decoration: none;
	    color: #C0BAB6;
	}
	#center{
		width: 1200px;
		min-height: 1200px;
		margin: auto;
	}
	#center-a{
		float: left;
		width: 900px;
		min-height: 1200px;
		
	}
	.center-a-item{
		width: 200px;
		height: 250px;
		border: 1px solid red;
		float: left;
		margin: 11px 22px 11px 0px;
	}
	#center-a-banner{
		width: 900px;
		height: 230px;
		background-color: blue;
	}
	#center-b{
		float: right;
		width: 300px;
		min-height: 1200px;
			background-color: pink;	
	}
#bottom{
	width: 1200px;
	height: 300px;
	background-color:white;
    margin:auto;
}
#bottom-a{
	float: left;
	width: 400px;
	height: 300px;
}
#bottom-b{
	float: left;
	width: 400px;
	height: 300px;	
}
#bottom-b-a{
	width: 400px;
	height: 40px;	
}
#bottom-b-b{
	width: 400px;
	height: 260px;	
}
#bottom-c{
	float: right;
	width: 400px;
	height: 300px;	
}
#bottom-c-a{
	width: 400px;
	height: 40px;	
}
#bottom-c-b{
	width: 400px;
	height: 260px;	
}
