<div class="section-title text-center wow fadeInDown">
    <h2>Product</h2>
</div>

<nav class="project-filter clearfix text-center wow fadeInLeft" data-wow-delay="0.5s">
    <ul class="list-inline">
        <li><a href="javascript:;" class="filter" data-filter="all">All</a></li>

        @Html.Action("ChuDe","TrangChu")

        @*<li><a href="javascript:;" class="filter" data-filter=".app">App</a></li>
        <li><a href="javascript:;" class="filter" data-filter=".photography">Photography</a></li>
        <li><a href="javascript:;" class="filter" data-filter=".web">Web</a></li>
        <li><a href="javascript:;" class="filter" data-filter=".print">Print</a></li>*@
    </ul>
</nav>

<div id="projects" class="clearfix">

    @foreach (var item in Model)
    {
        <figure class="mix portfolio-item @item.MaCD">
            <img class="img-responsive" src="~/img/@item.Anhbiastock" alt="Portfolio Item" style="margin-bottom:10px;width:372px; height:290px;margin-right:10px;margin-left:10px">
            <a href="img/@item.Anhbiastock" title="Title One" rel="portfolio" class="fancybox"><span class="plus"></span></a>
            <figcaption class="mask">
                <h3>Awesome Image</h3>
                <span>Photography</span>
            </figcaption>
        </figure>
    }


</div> <!-- end #projects -->
